    {% extends 'base.html' %}
    {% block mid %}

			<!-- Content-->
			<div class="wil-content">
				
				<!-- Section -->
				<section class="awe-section">
					<div class="container">
						
						<!-- page-title -->
						<div class="page-title pb-40">
							<h2 class="page-title__title">关于 我</h2>
							<p class="page-title__text"> About - Osbali</p>
							<div class="page-title__divider"></div>
						</div><!-- End / page-title -->
						
					</div>
				</section>
				<!-- End / Section -->
				
				
				<!-- Section -->
				<section class="awe-section bg-gray">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-lg-5 "><img src="https://images.pexels.com/photos/797558/pexels-photo-797558.jpeg?w=1260&amp;h=750&amp;auto=compress&amp;cs=tinysrgb" alt="">
							</div>
							<div class="col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-1 ">
								
								<!--  -->
								<div class="mt-30">
									<h2 class="about__title">奥斯芭蕾雅蠛蝶</h2>
									<p class="about__subtitle">英文名：OsbaliYmd</p>
									<p class="about__text"> 未婚 单身 体重：133  身高：177 性别：男   学历本科， 专业CS， 2019届待就业毕业生。<br>目前从事计算机行业初学阶段，偶尔会幻想自己成为资深程序猿！喜欢音乐，会弹吉他,民谣弹唱转型指弹爱好者！<br>技术栈：Only Python ，但对数据和机器学习，抱有兴趣。有转型打算！<br></p>
									<!-- progress -->
									<div class="progress">
										<h5 class="progress__title">烹饪技能</h5>
										<div class="progress__wrap">
											<div class="progress__bar" data-progress-percent="30" data-timing="ease" data-duration="1000" data-delay="500"></div><span class="progress__number">39%</span>
										</div>
									</div><!-- End / progress -->
									
									
									<!-- progress -->
									<div class="progress">
										<h5 class="progress__title">游戏技能</h5>
										<div class="progress__wrap">
											<div class="progress__bar" data-progress-percent="59" data-timing="ease" data-duration="1000" data-delay="500"></div><span class="progress__number">47%</span>
										</div>
									</div><!-- End / progress -->
									
									
									<!-- progress -->
									<div class="progress">
										<h5 class="progress__title">血压</h5>
										<div class="progress__wrap">
											<div class="progress__bar" data-progress-percent="90" data-timing="ease" data-duration="1000" data-delay="500"></div><span class="progress__number">59%</span>
										</div>
									</div><!-- End / progress -->
									
								</div><!-- End /  -->
								
							</div>
						</div>
					</div>
				</section>
				<!-- End / Section -->
				
			    </div>


    {% endblock %}
			
