
{% extends 'base.html' %}
{% block mid %}
			<div class="wil-content">
				
				<!-- Section -->
				<section class="awe-section">
					<div class="container">
						
						<!-- page-title -->
						<div class="page-title">
							<h2 class="page-title__title">Hi！我是奥斯芭蕾 我看到你了~<br>
								
								<!-- typing__module -->
								<div class="typing__module">
                                    <div class="typed-strings"><span>谢谢你的光临  在这儿 你可以看到一切我所分享出来的一切<br></span><span>有影评 书评 歌单 还有.....</span><span>还有所有你意想不到的！</span>>
									</div><span class="typed"></span>
								</div><!-- End / typing__module -->
								
							</h2>
							<p class="page-title__text"></p>
							<div class="page-title__divider"></div>
						</div><!-- End / page-title -->
						
					</div>
				</section>
				<!-- End / Section -->
				

				
				
				<!-- Section -->
				<section class="awe-section bg-gray">
					<div class="container">
						<div class="row">
							<div class="col-lg-6 ">
								
								<!-- title -->
								<div class="title">
									<h2 class="title__title">最新分享动态</h2>
								</div><!-- End / title -->
								
							</div>
						</div>
						<div class="grid-css grid-css--masonry" data-col-lg="3" data-col-md="2" data-col-sm="2" data-col-xs="1" data-gap="30">
							<div class="grid__inner">
								<div class="grid-sizer"></div>
								<div class="grid-item">
									<div class="grid-item__inner">
										<div class="grid-item__content-wrapper">
											
											<!-- work -->
                                            <div class="work"><a href="/sharecontent/movie/{{ movies.datemodel_ptr_id }}">
													
													<!-- hoverbox ef-slide-bottom -->
													<div class="hoverbox ef-slide-bottom light">
														
														<!-- hb_front -->
														<div class="hb_front"><img src="https://images.pexels.com/photos/807034/pexels-photo-807034.jpeg?w=1260&amp;h=750&amp;auto=compress&amp;cs=tinysrgb" alt=""/>
														</div><!-- End / hb_front -->



														<!-- hb_back -->
														<div class="hb_back">
															<h2 class="work__title">电影分享：{{ movies.movie_title }}</h2></br><span class="comment_sty" >{{ movies.movie_comment }}</span></br><span class="work__text">发布时间：{{ movies.time }}</span>
														</div><!-- End / hb_back -->
														
													</div><!-- End / hoverbox ef-slide-bottom -->
													</a>
											</div><!-- End / work -->
											
										</div>
									</div>
								</div>
								<div class="grid-item">
									<div class="grid-item__inner">
										<div class="grid-item__content-wrapper">
											
											<!-- work -->
											<div class="work"><a href="/sharecontent/music/{{ musics.datemodel_ptr_id }}">
													
													<!-- hoverbox ef-move-top -->
													<div class="hoverbox ef-move-top light">
														
														<!-- hb_front -->
														<div class="hb_front"><img src="https://images.pexels.com/photos/609687/pexels-photo-609687.jpeg?w=1260&amp;h=750&amp;auto=compress&amp;cs=tinysrgb" alt=""/>
														</div><!-- End / hb_front -->
														

														<!-- hb_back -->
														<div class="hb_back">
															<h2 class="work__title">音乐分享：{{ musics.music_name }}</h2></br><span class="comment_sty" >{{ musics.music_comment }}</span></br><span class="work__text">发布日期：{{ musics.time }}</span>
														</div><!-- End / hb_back -->

													</div><!-- End / hoverbox ef-move-top -->
													</a>
											</div><!-- End / work -->
											
										</div>
									</div>
								</div>
								<div class="grid-item">
									<div class="grid-item__inner">
										<div class="grid-item__content-wrapper">
											
											<!-- work -->
											<div class="work"><a href="/sharecontent/book/{{ books.datemodel_ptr_id }}">
													
													<!-- hoverbox ef-slide-right -->
													<div class="hoverbox ef-slide-right light">
														
														<!-- hb_front -->
														<div class="hb_front"><img src="https://images.pexels.com/photos/754949/pexels-photo-754949.jpeg?w=1260&amp;h=750&amp;auto=compress&amp;cs=tinysrgb" alt=""/>
														</div><!-- End / hb_front -->
														
														
														<!-- hb_back -->
														<div class="hb_back">
															<h2 class="work__title">图书分享：{{ books.book_title }}</h2></br><span class="comment_sty" >{{ books.book_comment }}</span></br></br><span class="work__text">发布时间：{{ books.time }}</span>
														</div><!-- End / hb_back -->
														
													</div><!-- End / hoverbox ef-slide-right -->
													</a>
											</div><!-- End / work -->
											
										</div>
									</div>
								</div>
								<div class="grid-item">
									<div class="grid-item__inner">
										<div class="grid-item__content-wrapper">
											
											<!-- work -->
											<div class="work"><a href="/sharecontent/diray/{{ dirays.datemodel_ptr_id }}">
													
													<!-- hoverbox ef-zoom-in -->
													<div class="hoverbox ef-zoom-in light">
														
														<!-- hb_front -->
														<div class="hb_front"><img src="https://images.pexels.com/photos/794578/pexels-photo-794578.jpeg?w=1260&amp;h=750&amp;auto=compress&amp;cs=tinysrgb" alt=""/>
														</div><!-- End / hb_front -->
														
														
														<!-- hb_back -->
														<div class="hb_back">
                                                            <h2 class="work__title">日记分享：{{ dirays.diray_date }}</h2></br><span class="comment_sty" >{{ dirays.diray_comment }}</span></br><span class="work__text">发布时间：{{ dirays.time }}</span>
														</div><!-- End / hb_back -->
														
													</div><!-- End / hoverbox ef-zoom-in -->
													</a>
											</div><!-- End / work -->
											
										</div>
									</div>
								</div>
								<div class="grid-item">
									<div class="grid-item__inner">
										<div class="grid-item__content-wrapper">
											
											<!-- work -->
											<div class="work">
{#                                                <a href="work-detail.html">#}
													
													<!-- hoverbox ef-zoom-in -->
													<div class="hoverbox ef-zoom-in light">
														
														<!-- hb_front -->
														<div class="hb_front"><img src="https://images.pexels.com/photos/580649/pexels-photo-580649.jpeg?w=1260&amp;h=750&amp;auto=compress&amp;cs=tinysrgb" alt=""/>
														</div><!-- End / hb_front -->
														
														
														<!-- hb_back -->
														<div class="hb_back">
															<h2 class="work__title">最新公告：{{ calls.call_title }}<br></h2><span class="work__text">{{ calls.call_comment }}</span><br><span class="work__text">发布时间：{{ calls.time }}</span>
														</div><!-- End / hb_back -->
														
													</div><!-- End / hoverbox ef-zoom-in -->
{#													</a>#}
											</div><!-- End / work -->
											
										</div>
									</div>
								</div>
								<div class="grid-item">
									<div class="grid-item__inner">
										<div class="grid-item__content-wrapper">
											
											<!-- work -->
											<div class="work">
{#                                                <a href="work-detail.html">#}
													
													<!-- hoverbox ef-slide-right -->
													<div class="hoverbox ef-slide-right light">
														
														<!-- hb_front -->
														<div class="hb_front"><img src="https://images.pexels.com/photos/290386/pexels-photo-290386.jpeg?w=1260&amp;h=750&amp;auto=compress&amp;cs=tinysrgb" alt=""/>
														</div><!-- End / hb_front -->
														
														
														<!-- hb_back -->
														<div class="hb_back">
															<h2 class="work__title">未开发模块</h2><span class="work__text">等待开发...</span>
														</div><!-- End / hb_back -->
														
													</div><!-- End / hoverbox ef-slide-right -->
{#													</a>#}
											</div><!-- End / work -->
											
										</div>
									</div>
								</div>
								<div class="grid-item">
									<div class="grid-item__inner">
										<div class="grid-item__content-wrapper">
											
											<!-- work -->
											<div class="work"><a href="/sharecontent/friend/{{ friends.datemodel_ptr_id }}">
													
													<!-- hoverbox ef-move-right -->
													<div class="hoverbox ef-move-right light">
														
														<!-- hb_front -->
														<div class="hb_front"><img src="https://images.pexels.com/photos/792906/pexels-photo-792906.jpeg?w=1260&amp;h=750&amp;auto=compress&amp;cs=tinysrgb" alt=""/>
														</div><!-- End / hb_front -->
														
														
														<!-- hb_back -->
														<div class="hb_back">
															<h2 class="work__title">留言分享：{{ friends.friend_name }}:</h2><span class="work__text">{{ friends.friend_comment }}</span></br><span class="work__text">留言时间：{{ friends.time }}</span>
														</div><!-- End / hb_back -->
														
													</div><!-- End / hoverbox ef-move-right -->
													</a>
											</div><!-- End / work -->
											
										</div>
									</div>
								</div>
								<div class="grid-item">
									<div class="grid-item__inner">
										<div class="grid-item__content-wrapper">
											
											<!-- work -->
											<div class="work">
{#                                                <a href="work-detail.html">#}
													
													<!-- hoverbox ef-move-bottom -->
													<div class="hoverbox ef-move-bottom light">
														
														<!-- hb_front -->
														<div class="hb_front"><img src="https://images.pexels.com/photos/789140/pexels-photo-789140.jpeg?h=350&amp;auto=compress&amp;cs=tinysrgb" alt=""/>
														</div><!-- End / hb_front -->
														
														
														<!-- hb_back -->
														<div class="hb_back">
															<h2 class="work__title">未开发模块</h2><span class="work__text">等待开发...</span>
														</div><!-- End / hb_back -->
														
													</div><!-- End / hoverbox ef-move-bottom -->
{#													</a>#}
											</div><!-- End / work -->
											
										</div>
									</div>
								</div>
								<div class="grid-item">
									<div class="grid-item__inner">
										<div class="grid-item__content-wrapper">
											
											<!-- work -->
											<div class="work">
{#                                                <a href="work-detail.html">#}
													
													<!-- hoverbox ef-move-bottom -->
													<div class="hoverbox ef-move-bottom light">
														
														<!-- hb_front -->
														<div class="hb_front"><img src="https://images.pexels.com/photos/15382/pexels-photo.jpg?h=350&amp;auto=compress&amp;cs=tinysrgb" alt=""/>
														</div><!-- End / hb_front -->
														
														
														<!-- hb_back -->
														<div class="hb_back">
															<h2 class="work__title">未开发模块</h2><span class="work__text">等待开发...</span>
														</div><!-- End / hb_back -->

													</div><!-- End / hoverbox ef-move-bottom -->
{#													</a>#}
											</div><!-- End / work -->

										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

				</section>
             </div>
                {% endblock %}
